<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <title>获取能量</title>
    <link rel="stylesheet" href="http://yun.janesi.net/web_browser/css/mui.min.css">
    <link rel="stylesheet" href="http://yun.janesi.net/web_browser/css/getPower.css">
</head>
<body>
    <section class="get_top">
        <div class="get_top_box">
            <div class="power">
                <span>我的能量</span>
                <span class="p_mount">12</span>
            </div>
            <div class="jewel">
                <span>我的钻石</span>
                <span class="j_mount">12.12345</span>
            </div>
        </div>
        <p>在浏览器中你的行为都将是有价值的，我们将无数用户的行为价值共享后转化成能量将会用于持续挖矿，每2小时将会消耗2能量用户开采钻石</p>
    </section>
    <section class="daily_task">
        <div class="daily_task_top">
            每日任务
        </div>
        <ul class="task_list mui-list-unstyled"> 
            <li>
                <div class="li_left">
                    <div class="li_left_top">
                        <span>每日登陆</span>
                        <span>+2</span>
                        <img src="http://yun.janesi.net/web_browser/img/task.png" alt="">
                    </div>
                    <p>登录后获取能量</p>
                </div>
                <div class="li_right">
                    <div class="login">已完成</div>
                    <p>( 1 / 1 )</p>
                </div>
            </li>
            <li>
                <div class="li_left">
                    <div class="li_left_top">
                        <span>阅读文章</span>
                        <span>+2</span>
                        <img src="http://yun.janesi.net/web_browser/img/task.png" alt="">
                    </div>
                    <p>每次阅读文章获取能量</p>
                </div>
                <div class="li_right go_reading">
                    <div class="task" id="reading">去阅读</div>
                    <div class="login" style="display: none">已完成</div>
                    <div>( <span class="red">1</span> / 3 )</div>
                </div>
            </li>
            <li>
                <div class="li_left">
                    <div class="li_left_top">
                        <span>使用搜索</span>
                        <span>+2</span>
                        <img src="http://yun.janesi.net/web_browser/img/task.png" alt="">
                    </div>
                    <p>每次搜索后获取能量</p>
                </div>
                <div class="li_right go_seek">
                    <div class="task" id="search">去搜索</div>
                    <div class="login" style="display: none">已完成</div>
                    <div>( <span class="seek">0</span> / 3 )</div>
                </div>
            </li>
            <li>
                <div class="li_left">
                    <div class="li_left_top">
                        <span>分享文章</span>
                        <span>+2</span>
                        <img src="http://yun.janesi.net/web_browser/img/task.png" alt="">
                    </div>
                    <p>每次分享文章获取能量</p>
                </div>
                <div class="li_right go_share">
                    <div class="task" id="share">去分享</div>
                    <div class="login" style="display: none">已完成</div>
                    <div>( <span class="share">0</span> / 3 )</div>
                </div>
            </li>
            <li>
                <div class="li_left">
                    <div class="li_left_top">
                        <span>邀请好友</span>
                        <span>+40</span>
                        <img src="http://yun.janesi.net/web_browser/img/task.png" alt="">
                    </div>
                    <p>每次邀请好友注册获取能量</p>
                </div>
                <div class="li_right go_invite">
                    <div class="task" id="invite">去邀请</div>
                    <div class="login" style="display: none">已完成</div>
                    <div>( <span class="invite">0</span> / 10 )</div>
                </div>
            </li>
            
        </ul>
    </section>

    <script src="http://yun.janesi.net/web_browser/js/mui.min.js"></script>
    <script src="http://yun.janesi.net/web_browser/js/rem.js"></script>
    <script>
        mui.init();
        let url='http://10.10.10.81:8801';
        let userId='139';
        let osType='IOS';
        mui.ajax(url+'/app/browser/diamond/info',{
            type: 'GET',
            data: {
                'userId':userId,
            },
            dataType: "json",
            success: function(e) {
                console.log(e);
                document.querySelector('.jewel').children[1].innerHTML=e.result.currentDiamond;
                document.querySelector('.power').children[1].innerHTML=e.result.currentEnergy;
            }
        });
        mui.ajax(url+'/app/browser/energy/info',{
            type: 'GET',
            data: {
                'userId':userId,
            },
            dataType: "json",
            success: function(e) {
                console.log(e);
                if(e.result.userNames){
                    mui.toast("邀请"+ e.result.userNames +'成功！'+'，获得'+ e.result.inviteEnergy +'能量');
                }
                document.querySelector('.red').innerHTML=e.result.reading;
                if(e.result.reading=='3'){
                   let read= document.querySelector('.go_reading');
                   read.children[0].style.display='none';
                   read.children[1].style.display='block';
                }
                document.querySelector('.seek').innerHTML=e.result.search;
                if(e.result.search=='3'){
                    let seek= document.querySelector('.go_seek');
                    seek.children[0].style.display='none';
                    seek.children[1].style.display='block';
                }
                document.querySelector('.share').innerHTML=e.result.share;
                if(e.result.share=='3'){
                    let share= document.querySelector('.go_share');
                    share.children[0].style.display='none';
                    share.children[1].style.display='block';
                }
                document.querySelector('.invite').innerHTML=e.result.invite;
                if(e.result.invite=='10'){
                    let invite= document.querySelector('.go_invite');
                    invite.children[0].style.display='none';
                    invite.children[1].style.display='block';
                }
            }
        });

        function  terminal (osType,param) {
            if(osType=='IOS'){
                alert('ios'+param)
                // window.webkit.messageHandlers.task.postMessage(param)
            }else(
                alert('android'+param)
            // window.android.task(param);
            )
        }

        mui.plusReady(
            mui('.li_right').on('tap','.task',function () {
                let taskType=this.getAttribute('id');
                terminal(osType,taskType);
            })
        )
    </script>
</body>
</html>